.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: black;
}

.main {
  height: auto;
  width: 620px;
  background: rgb(246,151,3);
  background: linear-gradient(0deg, rgba(246,151,3,1) 0%, rgba(27,2,70,1) 100%);
  flex-direction: column;
  position: relative;
  display: flex;
}

.logo {
  filter: invert(100%);
}

.subtitle {
  font-size: 40px;
  color: coral;
  margin: -50px auto 0 auto;
  transform: rotate(-10deg);
}

.menuItemWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  height: 350vh;
  margin: 50px 0 300px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  margin: 0 auto 30px auto;
  width: 100%;
  height: auto;
  background-color: beige;
  border-radius: 6px;
  padding: 10px 5px;
}

.menuItem:last-child {
  margin-bottom: 30px;
}

.menuItem__textColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px 10px;
}

.menuItem__title {
  font-size: 30px;
  margin-bottom: 10px;
}
.menuItem__recipe {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.menuItem__price {
  font-size: 20px;
}

.menuItem__image {
  border-radius: 50%;
  width: 50%;
}

.sun {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 57%;
  left: 40%;
}

.moon {
  height: 100px;
  width: 100px;
  background-color: azure;
  box-shadow: 0 0 10px #9ecaed;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 43%;
}

.sea {
  position: absolute;
  bottom: 0;
  background: rgb(41,3,246);
  background: linear-gradient(180deg, rgb(4, 75, 182) 0%, rgb(132, 241, 245) 100%);
  height: 90px;
  width: 100%;
  z-index: -5;
  display: none;
  animation-duration: 5s;
  animation-name: sea;
  animation-iteration-count: infinite;
}

@keyframes sea {
  from {
    height: 90px;
  }

  to {
    height: 90px;
  }
  50% {
    height: 93px;
  }
}
.footer {
  width: auto;
  height: auto;
  bottom: -70px;
  align-self: center;
  display: flex;
  position: fixed;
  align-items: flex-end;
}
.footer__image {
  margin: 0 auto;
}

@media (max-width: 780px) {
  .main {
    width: 100vw;
  }

  .sun {
    height: 80px;
    width: 80px;
  }

  .moon {
    top: 22%;
    left: 40%;
    height: 80px;
    width: 80px;
  }

  .sea {
    display: flex;
  }

  .footer {
    bottom: 0;
  }
}
